@model List<Clinic.Data.Entities.Patient>  

<!DOCTYPE html>
<html>
<head>
    <title>Patients List</title>
</head>
<body>
    
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var patient in Model)
            {
            <tr>
            <td>@patient.Id</td>
            <td>@patient.Name</td>
           
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
